{% load static %}
{% include 'AdminBase.html' %}
{% block content %}
<div class="home-container">
  <div class="side-bar">
    <div class="profile">
      <div class="image">
        <a href="{% url 'AdminProfile' %}"><img src="{% static 'images/profile_pictures/' %}{{profile_picture}}"
            alt=""></a>
      </div>
      <h3>Admin {{username}}</h3>
    </div>
    <ul id="myLIST" class="list">
      <a id="AdminFiles" href="{% url 'AdminHomepage' %}">
        <li class="li">Files</li>
      </a>
      <a id="AdminFiles" href="{% url 'AdminFileArchive' %}">
        <li class="li active">File Archive</li>
      </a>
      <a id="AdminUserTab" href="{% url 'AdminUserTab' %}">
        <li class="li">Users</li>
      </a>
      <a id="AdminArchive" href="{% url 'AdminArchive' %}">
        <li class="li">Account Archive</li>
      </a>
    </ul>
  </div>
  <div class="main-bar">
    <div class="section ">
      <form action="{% url 'AdminFileArchive' %}" method="GET" id="form_filter">
        {% csrf_token %}
        {{fileFilter.form}}
        <div>
          <button class="filter"> <a href="{% url 'AdminFileArchive' %}" style="text-decoration: none;color: white;">
              Clear
              Field</a></button>
          <button class="filter">Filter</button>
        </div>

      </form>
    </div>
    <div class="section search">
      <form action="{% url 'UserHomepage' %}" method="GET" autocomplete="off">
        {% csrf_token %}
        <input type="text" placeholder="Search" name="search" id="admin_file_archive">
      </form>
    </div>
    <div class="section-table" style="margin: 0 25px 0 25px;" id="table">
      <table class="table table-striped table-hover" id="m_table">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Category</th>
            <th>Uploader</th>
            <th>Date</th>
            <th>DELETE</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
          <tr>
            <td>{{ file.file_name }}</td>
            <td>{{ file.file_type }}</td>
            <td>{{ file.uploader }}</td>
            <td>{{ file.uploaded_date }}</td>
            <td>
              <button type="button" class="btn btn-primary" onclick="restorefile('{{file.file_id}}')">Retrieve</button>
              <button type="button" class="btn btn-danger" onclick="deletefilepermanently()">DELETE</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </table>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}