{% load static %}
{% include 'AdminBase.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger text-center" role="alert" style="align-items: center;" id="alert">
  {{message}}
</div>
{% endfor %}
{% endif%}
<div class="AdminChangePassword-box">
    <form method="post">
        {% csrf_token %}
        <div class="CPLogo">
            <img src="{% static 'images/profile_pictures/' %}{{profile_picture}}" alt="">
        </div>
        <div class="ChangePassLabel">
            <h3>CHANGE ADMIN PASSWORD</h3>
        </div>
        <div class="AdminChangePassInfo">
            <label for="userName">CURRENT</label>
            <input type="password" id="CurrentPass" name="CurrentPass" required>
        </div>
        <div class="AdminChangePassInfo">
            <label for="userName">NEW</label>
            <input type="password" id="NewPass" name="NewPass" required>
        </div>
        <div class="AdminChangePassInfo">
            <label for="userName">COMFIRM NEW</label>
            <input type="password" id="CNewPass" name="CNewPass" required>
        </div>
        <div class="AdminChangePassInfo">
            <button type="submit" class="btn btn-primary">SAVE CHANGES</button>
            <a href="{% url 'AdminProfile' %}"><button type="button" class="btn btn-primary">CANCEL</button></a>
        </div>
    </form>
</div>
{% include 'footer.html' %}
{% endblock %}