{% load static %}
{% include 'AdminBase.html' %}
{% block content %}
<div class="AdminProfile-box">
    <form action="#">
        <div class="AdminProfileImage">
            <img src="{% static 'images/user_profile.png' %}" alt="">
        </div>
        <h3>ADMIN</h3>
        <div class="AdminInfo">
            <label for="userNameLabel"> ADMIN USERNAME :</label>
            <p>ADMIN USERNAME</p>
        </div>
        <div class="AdminInfo">
            <label for="emailLabel">ADMIN EMAIL :</label>
            <p>ADMIN EMAIL</p>
        </div>
        <div class="AdminProfileButtons">
            <a href="{% url 'AdminEditAccount' %}"><button type="button" class="btn btn-primary">EDIT ACCOUNT</button></a>
        </div>
        <div class="AdminProfileButtons">
            <a href="{% url 'AdminChangePassword' %}"><button type="button" class="btn btn-primary">CHANGE PASSWORD</button></a>
        </div>
        <div class="AdminProfileButtons">
            <a href="{% url 'AdminHomepage' %}"><button type="button" class="btn btn-primary">CANCEL</button></a>
        </div>
    </form>
</div>
{% include 'footer.html' %}
{% endblock %}