{% load static %}
{% include 'AdminBase.html' %}
{% block content %}
<div class="home-container">
  <div class="side-bar">
    <div class="profile">
      <div class="image">
        <a href="{% url 'UserProfile' %}"><img src="{% static 'images/user_profile.png' %}" alt=""></a>
      </div>
      <h3>Admin</h3>
    </div>
    <ul id="myLIST" class="list">
        <a id="AdminFiles" href="{% url 'AdminHomepage' %}"><li class="li">Files</li></a>
        <a id="AdminArchive" href="{% url 'AdminArchive' %}"><li class="li active">Archive</li></a>
        <a id="AdminUserTab" href="{% url 'AdminUserTab' %}"><li class="li">Users</li></a>
    </ul>
  </div>
  <div class="main-bar">
    <div class="section fields">
      <input type="text" placeholder="File Name" required>
      <select name="category" required>
        <option value="" disabled selected>Select your option</option>
        <option value="pdf">Audio</option>
        <option value="png">Video</option>
        <option value="jpeg">Image</option>
        <option value="docs">Text</option>
      </select>
      <input type="text" placeholder="Uploader" required>
      <input type="date" placeholder="Date" required>
      <button class="filter">Filter</button>
    </div>
    <div class="section search">
      <input type="text" placeholder="Search">
    </div>
    <div class="section-table" style="margin: 0 25px 0 25px;" >
      <table class="table table-striped table-hover">
        <tr>
          <th>List of Users</th>
          <th>Category</th>
          <th>Date</th>
          <th>DELETE FILE</th>
          <th>EDIT FILE</th>
        </tr>
        <tr>
          <td>UserName</td>
          <td>File Category</td>
          <td>Date Uploaded</td>
          <td><button type="button" class="btn btn-danger">DELETE</button></td>
          <td><button type="button" class="btn btn-primary">EDIT</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}  