{% include 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Introducing <span>Flux<span></h2>
      <h3>The leading platform for file repository</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto nemo ipsa officia cupiditate! Tempore labore explicabo corrupti, consequatur, fugiat repellendus dolores voluptates recusandae quibusdam ab ex debitis maiores ea itaque.</p>
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>
{% endblock %}