<table class="table table-striped table-hover">
    <tr>
      <th>File Name</th>
      <th>Category</th>
      <th>Uploader</th>
      <th>Date</th>
      <th>VIEW</th>
      <th>ARCHIVE</th>
      <th>EDIT</th>
    </tr>
    {% for file in files %}
    <tr>


      <td>{{file.file_name}}</td>
      <td>{{file.file_type}}</td>
      <td>{{file.uploader}}</td>
      <td>{{file.uploaded_date}}</td>
      <td><button type="button" class="btn btn-success"><a href="{{file.file.url}}" target="blank"
            style="text-decoration: none; color: black;">VIEW</a></button></td>
      <td><button type="button" class="btn btn-danger" onclick="sweetalert()">DELETE</button></td>
      <td><button type="button" class="btn btn-info">EDIT</button></td>

    </tr>
    {% endfor %}
  </table>