<table class="table table-striped table-hover" id="m_table">
    <thead>
        <tr>
            <th>List of Users</th>
            <th>Date Created</th>
            <th>REMOVE USER ACCOUNT</th>
            <th>EDIT USER ACCOUNT</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
          {% if profile.archived == False %}
          <tr>
            <td>{{ profile.username }}</td>
            <td>Date Created</td>
            <td><button type="button" class="btn btn-warning" onclick="deleteuser('{{profile.id}}')">ARCHIVE</button></td>
            <td><a href="{% url 'AdminEditUser' %}"><button type="button" class="btn btn-primary">EDIT</button></a></td>
          </tr>
          {% endif %}
          {% endfor %}
    </tbody>
</table>