{% load static %}
{% include 'AdminBase.html' %}
{% block content %}
<div class="UserChangePassword-box">
    <form action="#">
        <div class="CPLogo">
            <img src="{% static 'images/Image 1.png' %}" alt="">
        </div>
        <div class="ChangePassLabel">
            <h3>CHANGE PASSWORD</h3>
        </div>
        <div class="ChangePassInfo">
            <label for="userName">CURRENT</label>
            <input type="password" id="CurrentPass" name="CurrentPass" required>
        </div>
        <div class="ChangePassInfo">
            <label for="userName">NEW</label>
            <input type="password" id="NewPass" name="NewPass" required>
        </div>
        <div class="ChangePassInfo">
            <label for="userName">COMFIRM NEW</label>
            <input type="password" id="CNewPass" name="CNewPass" required>
        </div>
        <div class="UserChangePassButton">
            <button type="button" class="btn btn-primary">SAVE CHANGES</button>
            <a href="{% url 'UserProfile' %}"><button type="button" class="btn btn-primary">CANCEL</button></a>
        </div>
    </form>
</div>
{% include 'footer.html' %}
{% endblock %}