{% load static %}
{% include 'AdminBase.html' %}
{% block content %}
<div class="home-container">
  <div class="side-bar">
    <div class="profile">
      <div class="image">
        <a href="{% url 'UserProfile' %}"><img src="{% static 'images/profile_pictures/' %}{{profile_picture}}"
            alt=""></a>
      </div>
      <h3>User {{username}}</h3>
    </div>
    <ul id="myLIST" class="list">
      <a id="UserFiles" href="{% url 'UserHomepage' %}">
        <li class="li">Files</li>
      </a>
      <a id="UserArchive" href="{% url 'UserArchive' %}">
        <li class="li active">Archive</li>
      </a>
    </ul>
  </div>
  <div class="main-bar">
    <div class="section ">
      <form action="{% url 'UserArchive' %}" method="GET" id="form_filter">
        {% csrf_token %}
        {{fileFilter.form}}
        <div>
          <button class="filter"> <a href="{% url 'UserArchive' %}" style="text-decoration: none;color: white;"> Clear
              Field</a></button>
          <button class="filter">Filter</button>
        </div>

      </form>
    </div>
    <div class="section search">
      <form action="{% url 'UserHomepage' %}" method="GET" autocomplete="off">
        {% csrf_token %}
        <input type="text" placeholder="Search" name="search" id="user_file_archive">
      </form>
    </div>
    <div class="section-table" style="margin: 0 25px 0 25px;" id="table">
      <table class="table table-striped table-hover" id="m_table">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Category</th>
            <th>Uploader</th>
            <th>Date</th>
            <th>RESTORE FILE</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
          <tr>
            <td>{{ file.file_name }}</td>
            <td>{{ file.file_type }}</td>
            <td>{{ file.uploader }}</td>
            <td>{{ file.uploaded_date }}</td>
            <td><button type="button" class="btn btn-info" onclick="restorefile()">RESTORE</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}