/* INDEX AND BASE CSS */

body,
html {
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(18, 190, 202),
    rgb(255, 255, 255)
  );
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.container-fluid {
  background-color: rgb(216, 255, 255);
  padding-bottom: 0.5em;
  box-shadow: 5px 10px 8px #63636360;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 4em;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar li {
  padding: 0 15px;
}
.navbar-brand img {
  width: 50px;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  align-items: center;
}
.navbar-brand span {
  color: #257573;
  font-size: 2rem;
}
h2 {
  text-transform: uppercase;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.322);
  font-size: 3rem;
}
h3 {
  text-shadow: 1px 2.5px rgba(0, 0, 0, 0.322);
}
h2 span {
  font-weight: bold;
  color: white;
}
button {
  margin: 0;
}
.nav-item a {
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  height: 80vh;
  align-items: center;
  grid-gap: 5em;
}
.box {
  width: 100%;
  display: flex;
}
.f-container {
  display: flex;
  padding: 15px 20px;
  background-color: #17252a;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.box {
  flex-wrap: wrap;
}
.box .col h4 {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
.box .col {
  font-size: 0.7rem;
}
.box .col p {
  padding: 0;
  margin: 0;
  color: rgb(226, 226, 226);
}
.image img {
  height: 100%;
  width: 100%;
}
.image {
  height: 25px;
  width: 25px;
  margin-right: 0.5em;
}
.icons {
  justify-content: end;
  align-items: center;
}
.container .login {
  background-color: #def2f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 5px 10px 8px #00000060;
  height: 70vh;
  border-radius: 5px;
}
.toggles {
  display: flex;
  background-color: #3aafa9;
  margin-top: 0.5em;
  border-radius: 15px;
  width: 180px;
  justify-content: center;
}
.toggles .btn {
  margin: 0.4em;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #3aafa9;
}
.container .login-img {
  width: 120px;
  height: 120px;
}
.container .login-img img {
  width: 100%;
  height: 100%;
}
.container .email,
.password {
  width: 280px;
}
.container .password input {
  font-weight: bold;
}
.container .email input,
.password input {
  width: 100%;
  border-radius: 5px;
  border: 0.8px solid black;
  padding: 8px;
  font-size: 0.6rem;
}
.container label {
  font-size: 0.7rem;
}
.btn-login {
  width: 250px;
  margin: auto;
  margin-top: 0.7em;
}
.btn-login input {
  width: 100%;
  background-color: #17252a;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}

.toggles .active,
.btn:hover {
  background-color: rgb(255, 255, 255);
  color: #3aafa9;
}

@media only screen and (max-width: 990px) {
  .container {
    grid-gap: 1em;
    height: 100%;
    margin-bottom: 1em;
  }
  .box h2 {
    margin-top: 1em;
    font-size: 2rem;
  }
  .box h3 {
    font-size: 1.5rem;
  }
  .container .login {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 540px) {
  .container .login {
    width: 80%;
  }
  .container .login .email,
  .password {
    width: 200px;
  }
  .container .login .btn-login {
    width: 140px;
  }
}

/* REGISTER */
.register-box {
  background-color: #def2f1;
  width: 420px;
  height: 600px;
  margin: 3em auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5px black;
  box-shadow: 5px 10px 8px #00000060;
}
.register-box .regs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}
.register-box .regs label {
  width: 155px;
  font-size: 0.8rem;
  background-color: #3aafa9;
  text-align: center;
  margin: 0;
  padding: 8px;
  color: white;
}
.register-box .regs input {
  margin: 0;
  width: 200px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  padding: 0 15px;
}
.register-box .regs select {
  margin: 0;
  width: 200px;
}
.register-box h3 {
  text-align: center;
  padding: 5px;
  font-size: 2.5rem;
}
.register-box .regs-btn {
  text-align: center;
}
.register-box .regs-btn input {
  width: 300px;
  border: none;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: #17252a;
  color: white;
}

/* HOME PAGE CSS */
.home-container {
  display: flex;
}
.side-bar {
  background-color: rgb(255, 255, 255);
  border-radius: 0 30px 0 0;
  width: 230px;
  height: 100vh;
  margin-top: 1.5em;
  box-shadow: 5px 10px 8px #00000060;
}
.side-bar h3 {
  margin-top: 0.5em;
}
.side-bar ul {
  padding: 0;
  margin-top: 1.2em;
}
.side-bar ul li {
  list-style-type: none;
  text-align: center;
  padding: 8px 0;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 50px;
  margin: 4em;
  width: 100px;
  text-decoration: none;
}

#UserArchive,
#UserFiles
{
  text-decoration: none;
  color:black;
}

.side-bar .profile {
  text-align: center;
}
.side-bar .profile .image {
  width: 90px;
  height: 90px;
  border-radius: 900px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 1.5em;
  border: solid 0.5px black;
}
.side-bar .profile .image img {
  height: 100%;
  width: 100%;
}
.list .active,
.li:hover {
  background-color: #3aafa9d0;
  color: #ffffff;
  cursor: pointer;
  width: 100px;
}
.main-bar {
  width: 100%;
}
.main-bar .section-table {
  background-color: rgb(255, 255, 255);
}
.section {
  margin: 1.5em;
}
.section button {
  background-color: #3aafa9;
  border: none;
  padding: 9px 10px;
  border-radius: 10px;
  color: white;
}
.upload-btn {
  width: 160px;
}
.upload {
  display: flex;
  justify-content: end;
}
.fields {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.582);
}
.filter {
  width: 140px;
}
.fields input,
select {
  width: 200px;
  border: none;
  outline: none;
  padding: 8px;
}
.search input {
  width: 200px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
}

/* USER PROFILE */
.UserProfile-box
{
  background-color: white;
  width: 420px;
  height: 550px;
  margin: 3em auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5px #def2f1;
  box-shadow: 5px 10px 8px #00000060;
  border-radius: 50px;
}

.UserProfile-box .ProfileImage 
{
  width: 90px;
  height: 90px;
  border-radius: 900px;
  overflow: hidden;
  border: solid 0.5px black;
  margin-top: auto;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.UserProfile-box .ProfileImage img
{
  height: 100%;
  width: 100%;
}

.UserProfile-box .UserInfo
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.UserProfile-box .UserInfo label
{
  width: 155px;
  font-size: 0.8rem;
  text-align: right;
  margin: 0;
  padding: 8px;
  color: black;
  font-weight: 700;
}

.UserProfile-box .UserInfo p
{
  width: 155px;
  font-size: 0.8rem;
  padding: 8px;
  color: black;
}

.UserProfile-box .UserProfileButtons
{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.UserProfile-box .UserProfileButtons button
{
  width: 180px;
}

/* USER CHANGE PASSWORD */
.UserChangePassword-box
{
  background-color: white;
  width: 420px;
  height: 550px;
  margin: 3em auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5px #def2f1;
  box-shadow: 5px 10px 8px #00000060;
  border-radius: 50px;
}

.UserChangePassword-box .CPLogo 
{
  width: 90px;
  height: 90px;
  border-radius: 900px;
  overflow: hidden;
  border: solid 0.5px black;
  margin-top: auto;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.UserChangePassword-box .CPLogo  img
{
  height: 100%;
  width: 100%;
}

.UserChangePassword-box .UserChangePassButton
{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.UserChangePassword-box .UserChangePassButton button
{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 138px;
  padding: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.UserChangePassword-box .ChangePassInfo 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

.UserChangePassword-box .ChangePassInfo label 
{
  width: 155px;
  font-size: 0.8rem;
  text-align: right;
  margin: 0;
  padding: 8px;
  color: black;
}

.UserChangePassword-box .ChangePassLabel h3
{
  text-align: center;
  margin-bottom: 50px;
}

.UserChangePassword-box .ChangePassInfo input 
{
  margin: 0;
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  padding: 0 15px;
  outline: 1px black;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 8px;
}

/* EDIT ACCOUNT USER */
.UserEditAccount-box
{
  background-color: white;
  width: 420px;
  height: 600px;
  margin: 3em auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5px #def2f1;
  box-shadow: 5px 10px 8px #00000060;
  border-radius: 50px;
}

.UserEditAccount-box .ChangeUserProfile 
{
  width: 90px;
  height: 90px;
  border-radius: 900px;
  overflow: hidden;
  border: solid 0.5px black;
  margin-top: auto;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.UserEditAccount-box .ChangeUserProfile img
{
  height: 100%;
  width: 100%;
}

.UserEditAccount-box .EditAccountInfo
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.UserEditAccount-box .EditAccountInfo label
{
  width: 155px;
  font-size: 0.8rem;
  text-align: right;
  margin: 0;
  padding: 8px;
  color: black;
  font-weight: 700;
}

.UserEditAccount-box .ChangePassLabel h3
{
  text-align: center;
  margin-bottom: 50px;
}

.UserEditAccount-box .UserEditAccountButtons
{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.UserEditAccount-box .UserEditAccountButtons button
{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 138px;
  padding: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.UserEditAccount-box .EditAccountInfo input 
{
  margin: 0;
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  padding: 0 15px;
  outline: 1px black;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 8px;
}

/* ADMIN PROFILE */
.AdminProfile-box
{
  background-color: white;
  width: 420px;
  height: 550px;
  margin: 3em auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5px #def2f1;
  box-shadow: 5px 10px 8px #00000060;
  border-radius: 50px;
}

.AdminProfile-box h3
{
  margin-top: -50px;
  text-align: center;
  margin-bottom: 50px;
}

.AdminProfile-box .AdminProfileImage 
{
  width: 90px;
  height: 90px;
  border-radius: 900px;
  overflow: hidden;
  border: solid 0.5px black;
  margin-top: auto;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.AdminProfile-box .AdminProfileImage img
{
  height: 100%;
  width: 100%;
}

.AdminProfile-box .AdminInfo
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.AdminProfile-box .AdminInfo label
{
  width: 155px;
  font-size: 0.8rem;
  text-align: right;
  margin: 0;
  padding: 8px;
  color: black;
  font-weight: 700;
}

.AdminProfile-box .AdminInfo p
{
  width: 155px;
  font-size: 0.8rem;
  padding: 8px;
  color: black;
}

.AdminProfile-box .AdminProfileButtons
{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AdminProfile-box .AdminProfileButtons button
{
  width: 180px;
}

/* ADMIN CHANGE PASSWORD */
.AdminChangePassword-box
{
  background-color: white;
  width: 420px;
  height: 550px;
  margin: 3em auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5px #def2f1;
  box-shadow: 5px 10px 8px #00000060;
  border-radius: 50px;
}

.AdminChangePassword-box .CPLogo 
{
  width: 90px;
  height: 90px;
  border-radius: 900px;
  overflow: hidden;
  border: solid 0.5px black;
  margin-top: auto;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.AdminChangePassword-box .CPLogo  img
{
  height: 100%;
  width: 100%;
}

.AdminChangePassword-box .AdminChangePassInfo
{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AdminChangePassword-box .AdminChangePassInfo button
{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 138px;
  padding: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.AdminChangePassword-box .AdminChangePassInfo 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

.AdminChangePassword-box .AdminChangePassInfo label 
{
  width: 155px;
  font-size: 0.8rem;
  text-align: right;
  margin: 0;
  padding: 8px;
  color: black;
}

.AdminChangePassword-box .AdminChangePassInfo h3
{
  text-align: center;
  margin-bottom: 50px;
}

.AdminChangePassword-box .AdminChangePassInfo input 
{
  margin: 0;
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  padding: 0 15px;
  outline: 1px black;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 8px;
}

/* ADMIN EDIT ACCOUNT */
.AdminEditAccount-box
{
  background-color: white;
  width: 420px;
  height: 600px;
  margin: 3em auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5px #def2f1;
  box-shadow: 5px 10px 8px #00000060;
  border-radius: 50px;
}

.AdminEditAccount-box .ChangeUserProfile 
{
  width: 90px;
  height: 90px;
  border-radius: 900px;
  overflow: hidden;
  border: solid 0.5px black;
  margin-top: auto;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.AdminEditAccount-box .ChangeUserProfile img
{
  height: 100%;
  width: 100%;
}

.AdminEditAccount-box .EditAdminAccountInfo
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.AdminEditAccount-box .EditAdminAccountInfo label
{
  width: 155px;
  font-size: 0.8rem;
  text-align: right;
  margin: 0;
  padding: 8px;
  color: black;
  font-weight: 700;
}

.AdminEditAccount-box .ChangePassLabel h3
{
  text-align: center;
  margin-bottom: 50px;
}

.AdminEditAccount-box .AdminEditAccountButtons
{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AdminEditAccount-box .AdminEditAccountButtons button
{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 138px;
  padding: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.AdminEditAccount-box .EditAdminAccountInfo input 
{
  margin: 0;
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  padding: 0 15px;
  outline: 1px black;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 8px;
}

#AdminArchive,
#AdminFiles,
#AdminUserTab
{
  text-decoration: none;
  color:black;
}